.footer {
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;

    border-top: solid 1px #cccccc;
}

.footer p {
    text-align: center;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
}