.header {
    background-color: #fff;
    height: 70px;
    width: 100%;

    border-bottom: solid 1px #cccccc;
}

header .logo {
    background: url(../images/airbnb.png) no-repeat;
    background-size: cover;
    height: 100%;
    width: 200px;

    margin-left: 20px;
}